tk  >= 0.1.0
pillow >= 9.1.0
opencv-python >= 3.4.2
customtkinter >= 1.0.1
pynput >= 1.5.0
mediapipe >=0.8.1
tensorflow >= 2.7.0
pyinstaller >= 5.0.1
jupyter >= 1.0.0
jupyterlab >= 1.0.0
tkvideo >= 0.1.0